{% extends "base.html" %}
{% set active = "privacy" %}

{% block content %}
<div class="my-5 border-start border-2 border-primary">
    <h1 class="px-4 py-2 fs-large text-primary">Data Privacy</h1>
</div>

<h4 class="my-4 py-2 text-primary">Information on the Collection of Personal Data</h4>

<p>The operators of these websites take the protection of your personal data seriously.</p>

<p>Personal data is all data that can be related to you personally, such as name, address, email addresses, and user behavior (information referring to an identifiable natural person (Art. 4, No. 1 of the EU General Data Protection Regulation (GDPR))).</p>

<p>Controller according to Art. 4, par. 7 GDPR is the Dr. rer. nat. Markus Götz, Hermann-von-Helmholtz Platz 1, 76344 Eggenstein-Leopoldshafen, Germany. Our data protection commissioner can be contacted at markus.goetz (at) kit.edu.</p>

<p>When you contact us by electronic mail or via a contact form, the data given by you (your email address and, if applicable, your name and your phone number) will be stored by us to answer your questions. The data arising in this connection will be erased as soon as storage will no longer be required or processing will be restricted, if legal obligations to retain the data exist.</p>

<p>We would like you to note that internet-based data transmission (e.g., when communicating by electronic mail) may have security gaps. Absolute protection of data against access by third parties may not be guaranteed.</p>

<h4 class="my-4 py-2 text-primary">Collection of Personal Data</h4>

When using the website for information purposes only, i.e., when you do not register or transmit other information, we will only collect the personal data that is transmitted by your browser to our server according to the settings made by you (server log files). For viewing our website, we collect the data required for this purpose and needed for ensuring stability and security according to Art. 6, par. 1, clause 1, (f) GDPR:

<ul class="my-3">
    <li>Anonymized IP address</li>
    <li>Date and time of access</li>
    <li>Time zone difference to Greenwich Mean Time (GMT)</li>
    <li>Content of the access (concrete site)</li>
    <li>Status of access/HTTP status code</li>
    <li>Data volume transmitted</li>
    <li>Website from which an accessing system reaches our website</li>
    <li>Browser</li>
</ul>

<p>This data cannot be referred to certain persons. This data will not be combined with other data sources. We reserve the right to check this data later on, if concrete indications of unlawful use become known to us.</p>

<h4 class="my-4 py-2 text-primary">Your Rights</h4>

<p>As far as your personal data stored by us are concerned, you have the following rights:</p>

<ul class="my-3">
    <li>Right of access</li>
    <li>Right to rectification or erasure</li>
    <li>Right to restriction of processing</li>
    <li>Right to object to data processing</li>
    <li>Right to data portability</li>
</ul>

<p>In addition, you have the right to complain about the processing of your personal data by us with a supervisory authority. In the case of manifestly unfounded or excessive requests, we can charge a reasonable fee. Otherwise, information will be provided free of charge (Article 12, par. 5 GDPR). In the case of reasonable doubts concerning the identity of the natural person asserting the above rights, we may request the provision of additional information necessary to confirm the identity of the data subject (Article 12, par. 6 GDPR).</p>

<h4 class="my-4 py-2 text-primary">Cookies</h4>

<p>This internet site <b>does not set cookies</b>. You can set your browser such that you will be informed about the setting of cookies and you can permit cookies in individual cases only, exclude the acceptance of cookies in certain cases or in general, and activate automatic deletion of cookies when closing your browser. When deactivating cookies, functionality of this website may be limited.</p>

{% endblock %}
