{% extends "base.html" %}
{% set active = "home" %}

{% block content %}
<div class="position-relative text-white d-none d-md-block">
    <img class="img-fluid w-100" src="static/img/heliostats.png">
    <div class="position-absolute top-50 start-5 translate-middle-y">
        <h1 class="px-4 py-2 border-start border-2 border-white dynamic-h1"
            style="font-size: calc(3vw + 1rem);">PAINT</h1>
        <p class="my-3 dynamic-p"
            style="font-size: calc(1.5vw + 0.5rem);">A FAIR database for operational data of CSPs</p>
    </div>
</div>

<h4 class="my-4 py-2 text-primary">Introduction</h4>

The PAINT database makes operational data of concentrating solar power plants available in accordance with the <a href="https://www.nature.com/articles/sdata201618">FAIR data principles</a>, i.e., making them findable, accessible, interoperable, and reusable.

Currently, the <a href="/WRI1030197">data</a> encompasses calibration images, deflectometry measurements, kinematic settings, and weather information of the concentrating solar power plant in Jülich, Germany, with the global power plant id (GPPD) WRI1030197. Metadata for all database entries follow the <a href="https://stacspec.org/en">spatio-temporal asset catalog (STAC) standard</a>.

PAINT closely follows open science guidelines and makes all software to (pre-)process data publicly available in the <a href="https://github.com/ARTIST-Association/PAINT/">project's source code repository</a>.

<h4 class="my-4 py-2 text-primary">Concentrating Solar Power Plants</h4>

Concentrating solar power (CSP) power plants harness solar energy by using mirrors or lenses to focus sunlight onto a receiver. The generated power can be directly used for process heat and thermochemical reactions or converted into electric energy using a steam turbine.

There are four major design types of CSP, i.e., parabolic troughs, dishes, Fresnel reflectors, and solar power towers. PAINT users can so far only find data for the latter. In a solar tower setup, an array of tracking reflectors, or heliostats, concentrate sunlight on a central receiver atop a tower. The there installed receiver contains a heat-transfer material heated to 500–1000 °C.

{% endblock %}
