{% extends "base.html" %}
{% set active = "legal" %}

{% block content %}
<div class="my-5 border-start border-2 border-primary">
    <h1 class="px-4 py-2 fs-large text-primary">Legal Information</h1>
</div>

<h4 class="my-4 py-2 text-primary">Provider</h4>

<p>Provider of services in the sense of Art. 5 of the Digital Services Act and Art. 18, par. 2, State Media Treaty (MStV)</p>

<dl class="row">
    <dt class="col-sm-6 text-primary">Registered Office</dt>
    <dd class="col-sm-6">
        Karlsruhe Institute of Technology<br>
        Kaiserstraße 12<br>
        76131 Karlsruhe<br>
        Germany<br>
        Phone: +49 721 608-0<br>
        Fax: +49 721 608-44290<br>
        E-mail: <a href="mailto:info@kit.edu">info@kit.edu</a>
    </dd>

    <dt class="col-sm-6 text-primary">Legal Form</dt>
    <dd class="col-sm-6">Corporation governed by public law</dd>

    <dt class="col-sm-6 text-primary">Authorized Representatives</dt>
    <dd class="col-sm-6">Prof. Dr. Oliver Kraft (Acting President of KIT)</dd>

    <dt class="col-sm-6 text-primary">Responsible for Content</dt>
    <dd class="col-sm-6"><a href="https://www.scc.kit.edu/en/staff/achim.streit.php">Prof. Dr. Achim Streit</a></dd>

    <dt class="col-sm-6 text-primary">Turnover Tax Identification Number</dt>
    <dd class="col-sm-6">DE266749428</dd>
</dl>

<h4 class="my-4 py-2 text-primary">Copyright</h4>

<p>For the internet pages of PAINT, the copyright and all other rights lie with the ARTIST Association. Further dissemination, also in parts, for pedagogic, scientific, or private purposes is allowed, provided that the source is indicated (unless otherwise expressly stated on the respective page). Use for commercial purposes shall require the approval by the ARTIST Association. Contact the Executive Office and Strategy Department.</p>

<h4 class="my-4 py-2 text-primary">Disclaimer</h4>

<p>These internet pages serve for information only. Their contents were compiled with due diligence. However, the ARTIST Association shall not assume any liability, neither expressly nor implied, for the type or correctness of the material offered and shall not be liable (including liability for indirect loss or loss of profit) for the material or use of this material. In case contents of websites of the ARTIST Association violate valid legal regulations, we kindly ask you to inform us immediately. We will then remove the site or the respective contents as quickly as possible.</p>

<h4 class="my-4 py-2 text-primary">References to External Websites</h4>

<p>The PAINT websites contain links to information offered by servers which are not subject to the control and responsibility of the ARTIST Association. The ARTIST Association shall not assume any responsibility or guarantee for this information and shall not approve of or support such information in terms of contents.</p>

<h4 class="my-4 py-2 text-primary">Data Protection and IT Safety</h4>

<p>If you have further questions with respect to our data protection standards or if you wish to consult our public procedures register, please contact our <a href="mailto:datenschutzbeauftragter@kit.edu">Data Protection Commissioner</a>. In case you wish to inform yourself about the concepts and technical implementation of our IT safety, do not hesitate to contact our <a href="mailto:informationssicherheitsbeauftragter@kit.edu">Information Security Officer</a>.</p>

{% endblock %}
