{% extends "base.html" %}
{% set active = "repository" %}

{% block content %}
<div class="position-relative text-white d-none d-md-block">
    <img class="img-fluid w-100" src="static/img/below.png">
    <div class="position-absolute top-50 start-5 translate-middle-y">
        <h1 class="px-4 py-2 fs-large border-start border-2 border-white paint-large-header">Under Maintenance</h1>
        <p class="my-3 dynamic-p paint-small-header">Data Cannot be Accessed due to Maintenance</p>
    </div>
</div>

<h4 class="my-4 py-2 text-primary">Sorry for the inconvenience!</h4>

There are currently issues accessing the data! Any known issues are reported below!

<!-- Display the dynamic message from the Python script -->
<div class="alert alert-info" role="alert">
    {{ message|safe }}
</div>

{% endblock %}
