{% extends "base.html" %}
{% set active = "papers" %}

{% block content %}
<div class="position-relative text-white">
    <img class="img-fluid w-100" src="static/img/juelich.png">
    <div class="position-absolute top-50 start-5 translate-middle-y">
        <h1 class="px-4 py-2 fs-large border-start border-2 border-white">Papers</h1>
        <p class="my-3 fs-3">Research on the basis of PAINT</p>
    </div>
</div>

<h4 class="my-4 py-2 text-primary">PAINT Release Paper</h4>

<ul>
    <li>M. Pargmann, K. Phipps, M. Kuhl, M. Weiel, M. Busch, N. Blumröhr, D.M. Quinto, C. Debus, F. Göhring, A. Streit, R. Pitz-Paal, M. Götz "A FAIR database for concentrating solar power plant data".</li>
</ul>

<h4 class="my-4 py-2 text-primary">Papers based on PAINT</h4>

<ul>
    <li>M. Pargmann, J. Ebert, M. Götz, D.M. Quinto, R. Pitz-Paal, S. Kesselheim "Automatic Heliostat Learning for In-situ Concentrating Solar Power Plant Metrology with Differentiable Ray Tracing" <i>Nature Communications</i> (accepted).</li>
    <li>M. Pargmann, D.M. Quinto, P. Schwarzbözl, R. Pitz-Paal "High accuracy data-driven heliostat calibration and state prediction with pretrained deep neural networks." <i>Solar Energy</i> 218 (2021): 48-56, doi: <a href="https://doi.org/10.1016/j.solener.2021.01.046">10.1016/j.solener.2021.01.046</a>.</li>
</ul>

{% endblock %}
