{% extends "base.html" %}
{% set active = "papers" %}

{% block content %}
<div class="position-relative text-white">
    <img class="img-fluid w-100" src="static/img/juelich.png">
    <div class="position-absolute top-50 start-5 translate-middle-y">
        <h1 class="px-4 py-2 fs-large border-start border-2 border-white"
            style="font-size: calc(3vw + 1rem);">Papers</h1>
        <p class="my-3 fs-3"
           style="font-size: calc(1.5vw + 0.5rem);">Research on the basis of PAINT</p>
    </div>
</div>

<h4 class="my-4 py-2 text-primary">Papers based on PAINT</h4>

<ul>
    <li>M. Pargmann, J. Ebert, M. Götz, D.M. Quinto, R. Pitz-Paal, S. Kesselheim "Automatic Heliostat Learning for In-situ Concentrating Solar Power Plant Metrology with Differentiable Ray Tracing" <i>Nature Communications</i> 15(1) (2024): 6997, doi: <a href="https://doi.org/10.1038/s41467-024-51019-z">10.1038/s41467-024-51019-z</a>.</li>
    <li>M. Kuhl, M. Pargmann, M. Cherti, J. Jitsev, D.M. Quinto, R. Pitz-Paal "Flux density distribution forecasting in concentrated solar tower plants: A data-driven approach" <i>Solar Energy</i> 282 (2024): 112894, doi: <a href="https://doi.org/10.1016/j.solener.2024.112894">10.1016/j.solener.2024.112894</a>.</li>
    <li>M. Pargmann, D.M. Quinto, P. Schwarzbözl, R. Pitz-Paal "High accuracy data-driven heliostat calibration and state prediction with pretrained deep neural networks." <i>Solar Energy</i> 218 (2021): 48-56, doi: <a href="https://doi.org/10.1016/j.solener.2021.01.046">10.1016/j.solener.2021.01.046</a>.</li>
</ul>

{% endblock %}
