{% extends "base.html" %}
{% set active = "partners" %}

{% block content %}
<div class="position-relative text-white">
    <img class="img-fluid w-100" src="static/img/below.png">
    <div class="position-absolute top-50 start-5 translate-middle-y">
        <h1 class="px-4 py-2 fs-large border-start border-2 border-white">Partners</h1>
        <p class="my-3 fs-3">The members of the collaboration</p>
    </div>
</div>

<div class="mt-5 mb-3">
    <a href="https://www.dlr.de/en" class="text-decoration-none">
        <img src="static/img/dlr-logo.svg" class="float-start me-4 mb-2">
        <h5 class="text-primary">German Aerospace Center (DLR)</h5>
    </a>
    <p>DLR (German: Deutsches Zentrum für Luft- und Raumfahrt e.V.) is the national center for aerospace, energy, and transportation research of Germany, founded in 1969. It is headquartered in Cologne with 35 locations throughout Germany. It acts as the German space agency and is responsible for planning and implementing the German space program on behalf of the German federal government. As a project management agency, DLR also coordinates and answers the technical and organisational implementation of projects funded by a number of German federal ministries.</p>
</div>

<div class="my-5">
    <a href="https://www.kit.edu/english/index.php" class="text-decoration-none">
        <img src="static/img/kit-logo.svg" class="float-start me-4 mb-2">
        <h5 class="text-primary">Karlsruhe Institute of Technology (KIT)</h5>
    </a>
    <p>KIT is a public research university in Karlsruhe, Baden-Württemberg, Germany. The institute is a national research center of the Helmholtz Association. KIT was created in 2009 when the University of Karlsruhe, founded in 1825 as a public research university, merged with the Karlsruhe Research Center, which had originally been established in 1956 as a national nuclear research center.</p>
</div>

<div class="my-5">
    <a href="https://synhelion.com/" class="text-decoration-none">
        <img src="static/img/synhelion-logo.svg" class="float-start me-4 mb-2">
        <h5 class="text-primary">Synhelion</h5>
    </a>
    <p>Synhelion is a cleantech company that has developed a unique technology to produce sustainable solar fuels from solar energy. Synhelion contributes to a net-zero transportation sector by replacing fossil fuels with sustainable solar fuels. Their solar fuels close the carbon cycle and drive a world connected by clean, sustainable transportation.</p>
</div>

<div class="my-5">
    <a href="https://www.helmholtz.ai/" class="text-decoration-none">
        <img src="static/img/helmholtzai-logo.svg" class="float-start me-4 mb-2">
        <h5 class="text-primary">Helmholtz AI</h5>
    </a>
    <p>Helmholtz AI is an application-driven artificial intelligence platform accelerating science across the Helmholtz Association. They enable the development and implementation of AI solutions while promoting collaboration and ensuring accessibility to resources and expertise.</p>
</div>

<div class="my-5">
    <a href="https://helmholtz-metadaten.de/en" class="text-decoration-none">
        <img src="static/img/hmc-logo.svg" class="float-start me-4 mb-2">
        <h5 class="text-primary">Helmholtz Metadata Collaboration (HMC)</h5>
    </a>
    <p>HMC develops and implements novel concepts and technologies for a sustainable handling of research data through high-quality metadata. Its main goal is to make the depth and breadth of research data produced by Helmholtz centers findable, accessible, interoperable, and reusable (FAIR) for the whole science community.</p>
</div>

{% endblock %}
