@font-face {
    font-family: "Halvar Mittel";
    src: url("../font/HalvarMittel-Rg.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Halvar Mittel";
    src: url("../font/HalvarEngschrift-ExtraThin.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Hermann Bold";
    src: url("../font/Hermann-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@media (min-width: 1300px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

:root {
    --bs-primary: #002864;
    --bs-primary-rgb: 0, 40, 100;
    --bs-font-sans-serif: "Halvar Mittel"
}

.fs-large {
    font-size: 72px;
}

ul {
    list-style-type:square;
}

ul li::marker {
    color: var(--bs-primary);
}

.nav-link:hover {
    background-color: var(--bs-gray-300);
}

.nav-link.active {
    background-color: var(--bs-gray-300);
    border-left: 2px solid var(--bs-primary);
}

.start-5 {
    left: 5%;
}

.text-herman {
    font-family: "Hermann Bold", sans-serif !important;
}

.paint-large-header {
    font-size: calc(3vw + 1rem);
}

.paint-small-header {
    font-size: calc(1.5vw + 0.5rem);
}

.accordion-button {
  background-color: #f8f9fa;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.25rem;
  padding-right: 5rem;
  position: relative;
  display: flex;
  align-items: center;
}
.accordion-button::after {
  order: -1;
  margin-right: 1rem;
  margin-left: 0;
}
.accordion-button .format-label {
  font-size: 0.9rem;
  font-weight: normal;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.accordion-item {
  border: none;
}
.accordion-body {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
