name: Python test

on:
  push:

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Install uv, set the python version, and enable cache
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: |
          uv pip install coverage==7.6.4
          uv pip install pytest pytest-cov coverage-badge .

      - name: Test with pytest and coverage badge
        run: |
          python --version
          pytest --cov=paint
          coverage report -m --format markdown > cov_report.txt
          coverage xml

      - name: Post coverage report to PR
        if: matrix.python-version == '3.11' && matrix.os == 'ubuntu-latest'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: cov_report.txt

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
